doctype html
html
    head
        title 404 - Seite wurde nicht gefunden
        style
            include 404.css
    body
        div.upper_part
            h1 404
        div.lower_part
            p Die angefragte Seite existiert nicht oder wurde verschoben.
            p SUCHE
            P Home