doctype html
html
    head
        style
            include style.css
        style
            include includes/navbar.css
        style
            include includes/footer.css
    body
        include includes/navbar.pug
        div#frame1.frame
            div
                h1 Entdecke eine neue Welt.
                p Willkommen bei Aqua Welt! Deine Anlaufstelle für alles rund um das Thema Aquaristik.
                span Button
        div#frame2.frame
            p content
        div#frame3.frame
            p content
        div#frame4.frame
            p content
        include includes/footer.pug