div#footer
    ul
        li
            span FAQ
        li
            span Über uns
        li
            span Kontakt
        li
            span Impressum
        li
            span Blog
        //li
            span.search