div#navbar
    ul
        li
            a(href="/")
                img.logo(src="/public/logo.png")
        li
            span Home
        li
            span Aquarien
        li
            span Filter
        li
            span Nahrung
        li
            span Support
        li
            span Über uns
        li
            span FAQ
        //li
            span.search